body{
  font-family: sans-serif;
}
#shape{
    width:200px;
    height:200px;
    background-color:red;
    display:none;
    position: relative;/*it will give a random position to the shape at any place of the page*/
}
.bold{
 font-weight: bold;
}
